# Blacklist files/folders in same directory as the .gitignore file
/*
/src/automl/results/*
# Whitelist our source files
!/doc/
!/frameworks/
!/util/
!/gradle/
!/src/
!/.gitignore
!/.gitattributes
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/README.md
!/settings.gradle
!/results

# Blacklist things created by the build, tools or OS
**/__pycache__

# subproject build directories
/saspackage/build/

# Some common file extensions we should ignore
/src/**/*pyc
/src/**/*~
/src/**/*.swp
/src/**/*.bak
/src/**/*.log
